{% extends "base.html" %}

{% block contenidos %}

{% with mensajes = get_flashed_messages(with_categories=true) %}
  {% if mensajes %}
    {% for categoria, mensaje in mensajes %}
      <div class="alert alert-{{ categoria }}">
        {{ mensaje }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<h2>Analizador de Recetas</h2>
<h3 class="text-secondary">Los ingredientes que ingresen se tendran que escribir con sus respectivos gramos
  ejemplo:
 <strong>200g Pechuga de pollo</strong> 
 ,si no inserta los gramos automaticamente se tomara como 100g
</h3>

<form method="POST">
    <label>Ingresa la receta o lista de ingredientes:</label><br>
    <textarea name="receta" rows="8" class="form-control"></textarea><br>
    <button type="submit" class="btn btn-success">Analizar</button>
</form>

{% if resultado %}
<h3>Resultados nutricionales totales:</h3>
<table class="table table-bordered">
    <tr><th>Nutriente</th><th>Cantidad</th></tr>
    {% for nutriente, valor in resultado.items() %}
        <tr>
            <td>{{ nutriente }}</td>
            <td>{{ valor }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
