{% extends "base.html" %}

{% block contenidos %}
<div class="card">
  <div class="card-header bg-success text-white">
    <h4>Recursos Descargables</h4>
  </div>
  <div class="card-body">
    <ul class="list-group ">
      <li class="list-group-item">
        <div>
        <a href="static/Ejercicios_hombre.pdf" download>
          Planillas de ejercicios básicos para hombres
        </a>
        </div>
      </li>
      <li class="list-group-item">
          <a href="static/Ejercicios_Mujeres.pdf" download>
          Planillas de ejercicios básicos para mujeres
        </a>
      </li>
    </ul>
  </div>
</div>
</section>

{% endblock %}